/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 21, 2022, 5:41:33 PM
    Author     : DELL
*/
body,html {
    font-size: 16px;
}

.content{
    background: #ededed !important;
}
#sign {
    background-color:#1a1919;
    color: #b8b6b6;
}

#sign h5 {
    color: white;
}


#footer, .navbar{
    background-color: #302f2e;
    color: white;

}
.social {
    width:70px;
    height:50px;
}
